@charset "UTF-8";
@media screen and (max-width: 750px) {
  .pc-only {
    display: none !important; } }

.sp-only {
  display: none; }
  @media screen and (max-width: 750px) {
    .sp-only {
      display: block !important; } }

* {
  margin: 0;
  padding: 0;
  line-height: 1; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Noto Sans", "Noto Sans CJK JP", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  min-width: 1105px;
  width: 100%; }
  @media screen and (max-width: 750px) {
    body {
      min-width: auto; } }
  @media all and (-ms-high-contrast: none) {
    body {
      overflow-x: hidden; } }

h1,
h2,
h3,
h4,
h5 {
  font-size: initial;
  /* 100% */
  font-weight: initial;
  /* normal */ }

textarea:focus, input:focus {
  outline: none; }

img {
  width: 100%;
  height: auto;
  vertical-align: bottom; }

a {
  text-decoration: none;
  display: inline-block; }
  a:link, a:visited, a:hover, a:active {
    color: #fff; }
  a:hover {
    opacity: 0.6;
    cursor: pointer; }

a:visited {
  color: inherit; }

ul {
  list-style: none; }

p {
  font-size: 16px; }

.section-none-banner {
  border-top: 1px solid #bfbfbf; }

footer {
  background-color: #fff;
  text-align: center; }
  footer .mainbox {
    margin: 40px 0; }
    footer .mainbox .company {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        footer .mainbox .company {
          font-size: 16px;
          margin-bottom: 12px; } }
    footer .mainbox .address {
      margin-bottom: 6px; }
  footer .copyright {
    width: 100%;
    border-top: 1px solid #CCCCCC;
    font-size: 13px;
    padding: 20px 0; }

header {
  margin-top: 36px; }
  @media screen and (max-width: 750px) {
    header {
      margin-top: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: #fff; } }
  header .logo {
    margin: 0 auto; }
    @media screen and (max-width: 750px) {
      header .logo {
        margin: 0;
        display: flex;
        justify-content: space-between;
        background-color: white; } }
    header .logo .logoimg {
      display: block;
      margin: 0 auto;
      width: 244px;
      height: 66px; }
      @media screen and (max-width: 750px) {
        header .logo .logoimg {
          margin: 16px;
          width: 122px;
          height: 34px; } }
    header .logo .toggleBtn {
      display: none; }
      @media screen and (max-width: 750px) {
        header .logo .toggleBtn {
          display: block;
          width: 66px;
          height: 66px;
          border: none;
          outline: none;
          background-color: transparent;
          background-image: url(../../images/bars-solid.svg);
          background-size: contain; }
          header .logo .toggleBtn.active {
            background-image: url(../../images/bars-solid_cross.svg); } }
  header .menu {
    margin-top: 30px;
    width: 100%;
    background-color: #0F3782; }
    header .menu.fixed {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
      z-index: 9999; }
    @media screen and (max-width: 750px) {
      header .menu {
        margin-top: 0;
        padding: 70px 0;
        display: none; }
        header .menu.active {
          display: block; } }
    header .menu ul {
      max-width: 1105px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 750px) {
        header .menu ul {
          flex-direction: column;
          width: 100%; } }
      header .menu ul li {
        color: #fff;
        margin-right: 52px; }
        header .menu ul li:last-of-type {
          margin-right: 0; }
        @media screen and (max-width: 750px) {
          header .menu ul li {
            width: 100%;
            margin-right: 0; } }
        header .menu ul li a {
          font-size: 24px;
          padding: 28px;
          white-space: nowrap; }
          header .menu ul li a[href="#buy"], header .menu ul li a[href="/#buy"] {
            background-color: #bf0000;
            padding-left: 45px;
            padding-right: 45px; }
          @media screen and (max-width: 750px) {
            header .menu ul li a {
              font-size: 24px;
              width: 100%;
              text-align: center; } }
          header .menu ul li a img {
            width: 35px; }
            @media screen and (max-width: 750px) {
              header .menu ul li a img {
                width: 50px; } }
    header .menu .sns {
      display: flex; }
      @media screen and (max-width: 750px) {
        header .menu .sns {
          width: auto; } }
      header .menu .sns a {
        padding: 0;
        margin-right: 26px; }
        header .menu .sns a:last-of-type {
          margin-right: 0; }
        @media screen and (max-width: 750px) {
          header .menu .sns a {
            margin: auto;
            padding: 28px; } }

.heading {
  position: relative; }
  @media screen and (max-width: 750px) {
    .heading {
      margin-top: 66px; } }
  .heading .bgimg {
    min-height: 618px; }
    @media screen and (max-width: 750px) {
      .heading .bgimg {
        min-height: auto; } }
  .heading .whole {
    padding: 30px 0;
    width: 100%;
    background-image: url(../../images/headingbg.png);
    background-repeat: no-repeat;
    background-size: cover; }
    @media screen and (max-width: 750px) {
      .heading .whole {
        padding: 0; } }
  .heading .container {
    margin: 0 auto;
    max-width: 1105px;
    display: flex; }
    @media screen and (max-width: 750px) {
      .heading .container {
        position: relative;
        transform: none;
        min-width: auto;
        display: block;
        overflow: hidden; } }
    .heading .container .textbox {
      width: 50%;
      display: flex;
      align-items: center; }
      @media screen and (max-width: 750px) {
        .heading .container .textbox {
          width: auto;
          padding: 6.5% 20px 0;
          height: 100%; } }
      .heading .container .textbox .sub {
        line-height: 1.3;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: bold; }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .sub {
            font-size: 5.4vw;
            margin-bottom: 12px; } }
      .heading .container .textbox .main {
        margin-bottom: 26px;
        font-size: 72px;
        font-weight: bold;
        color: #0F3782; }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .main {
            font-size: 9.8vw; } }
      .heading .container .textbox .option {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold; }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .option {
            margin-top: 6%;
            margin-bottom: 8px;
            width: 75%;
            font-size: 3.6vw; } }
        .heading .container .textbox .option.opensell {
          font-size: 24px;
          margin-bottom: 16px;
          color: #ff0000;
          text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .option.opensell {
              font-size: 3.75vw;
              margin-bottom: 8px;
              width: 100%; } }
          .heading .container .textbox .option.opensell span {
            font-size: 16px; }
            @media screen and (max-width: 750px) {
              .heading .container .textbox .option.opensell span {
                font-size: 2.5vw; } }
      .heading .container .textbox .price {
        margin-bottom: 14px;
        font-size: 40px;
        font-weight: bold; }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .price {
            margin-bottom: 7px;
            width: 75%;
            font-size: 5.5vw; } }
        .heading .container .textbox .price .unit {
          font-size: 44px; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .price .unit {
              font-size: 6vw; } }
        .heading .container .textbox .price .tax {
          font-size: 24px; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .price .tax {
              font-size: 3.4vw; } }
      .heading .container .textbox .discount {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: bold; }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .discount {
            margin-bottom: 12.5px;
            width: 75%;
            font-size: 3.3vw; } }
        .heading .container .textbox .discount .num {
          text-decoration: line-through; }
        .heading .container .textbox .discount .unit {
          font-size: 22px; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .discount .unit {
              font-size: 3vw; } }
        .heading .container .textbox .discount .tax {
          font-size: 12px; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .discount .tax {
              font-size: 1.7vw; } }
      .heading .container .textbox .further {
        margin-bottom: 20px; }
        .heading .container .textbox .further span {
          display: inline-block;
          font-size: 20px;
          font-weight: bold; }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .further span {
              font-size: 4.4vw; } }
          .heading .container .textbox .further span.num {
            font-size: 40px; }
            @media screen and (max-width: 750px) {
              .heading .container .textbox .further span.num {
                font-size: 5.5vw; } }
          .heading .container .textbox .further span.unit {
            font-size: 44px; }
            @media screen and (max-width: 750px) {
              .heading .container .textbox .further span.unit {
                font-size: 6vw; } }
          @media screen and (max-width: 750px) {
            .heading .container .textbox .further span.tax {
              font-size: 3.4vw; } }
        .heading .container .textbox .further .option {
          margin-top: 25px; }
      .heading .container .textbox .btn {
        background-color: #000;
        color: #fff;
        font-size: 24px;
        padding: 12px 0;
        text-align: center;
        width: 100%;
        position: relative; }
        .heading .container .textbox .btn::after {
          position: absolute;
          top: 50%;
          right: 30.5px;
          content: '';
          display: inline-block;
          width: 20px;
          height: 10px;
          background-image: url(../../images/arrow1.svg);
          background-size: contain;
          transform: translateY(-50%); }
        @media screen and (max-width: 750px) {
          .heading .container .textbox .btn {
            margin-top: 3%;
            width: 75%;
            font-size: 4.4vw; }
            .heading .container .textbox .btn::after {
              right: 10px;
              width: 40px;
              height: 20px; } }
    .heading .container .image {
      width: 50%; }
      @media screen and (max-width: 750px) {
        .heading .container .image {
          position: absolute;
          top: 28%;
          right: -19px; } }
  .heading .storesbtn {
    margin: 0 auto;
    max-width: 1105px;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 750px) {
      .heading .storesbtn {
        max-width: auto;
        display: block;
        text-align: center;
        padding-bottom: 6.5%; } }
    @media screen and (max-width: 750px) {
      .heading .storesbtn .storepkg:not(:first-of-type) {
        margin-top: 15px; } }
    .heading .storesbtn .storetxt {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      color: #ff0000;
      text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
      letter-spacing: 0.1em; }
      @media screen and (max-width: 750px) {
        .heading .storesbtn .storetxt {
          margin-top: 5px; } }
      .heading .storesbtn .storetxt span {
        position: relative; }
        @media screen and (max-width: 750px) {
          .heading .storesbtn .storetxt span {
            font-size: 3.75vw; } }

.column1 {
  margin: 100px auto 0;
  max-width: 1105px; }
  @media screen and (max-width: 750px) {
    .column1 {
      margin: 50px 20px 0;
      width: auto; } }
  .column1 .mainbox {
    text-align: center;
    margin-bottom: 50px; }
    .column1 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px; }
      @media screen and (max-width: 750px) {
        .column1 .mainbox .title {
          line-height: 1.5;
          font-size: 24px;
          margin-bottom: 25px; } }
    .column1 .mainbox .para {
      line-height: 2; }
      .column1 .mainbox .para .strong {
        font-weight: bold; }
  .column1 .cautionContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 1px solid #DD0000; }
    @media screen and (max-width: 750px) {
      .column1 .cautionContainer {
        padding: 0px; } }
    .column1 .cautionContainer .cautionbox {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 750px) {
        .column1 .cautionContainer .cautionbox {
          padding: 20px;
          display: block;
          text-align: center; } }
      .column1 .cautionContainer .cautionbox .mark {
        width: 80px;
        height: 80px;
        margin-right: 20px; }
        @media screen and (max-width: 750px) {
          .column1 .cautionContainer .cautionbox .mark {
            width: 30px;
            height: 30px;
            margin-right: 0;
            margin-bottom: 10px; } }
      .column1 .cautionContainer .cautionbox .para {
        line-height: 2;
        font-weight: bold;
        font-size: 16px; }
        @media screen and (max-width: 750px) {
          .column1 .cautionContainer .cautionbox .para {
            font-size: 16px;
            text-align: initial; } }

.column2 {
  margin: 100px auto 0;
  background-color: #F5F6F7;
  padding-bottom: 100px; }
  @media screen and (max-width: 750px) {
    .column2 {
      margin: 50px 0 0;
      padding-bottom: 50px; } }
  .column2 .mainbox {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .column2 .mainbox {
        padding: 50px 20px; } }
    .column2 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .column2 .mainbox .title {
          font-size: 24px;
          margin-bottom: 12px; } }
    .column2 .mainbox .sub {
      font-size: 20px;
      color: #0F3782;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .column2 .mainbox .sub {
          margin-bottom: 23.5px; } }
    .column2 .mainbox .para {
      line-height: 2; }
      .column2 .mainbox .para .strong {
        font-weight: bold; }
  .column2 .about {
    position: relative;
    margin-bottom: 64px; }
    @media screen and (max-width: 750px) {
      .column2 .about {
        margin-bottom: 32px; } }
    .column2 .about .aboutimg {
      display: block;
      width: 780px;
      height: 480px; }
      @media screen and (max-width: 750px) {
        .column2 .about .aboutimg {
          width: 100%;
          height: auto; } }
    .column2 .about .textbox {
      min-width: 1105px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
      @media screen and (max-width: 750px) {
        .column2 .about .textbox {
          min-width: auto;
          padding: 20px 20px;
          position: static;
          transform: none;
          text-shadow: 1px 1px 2px #fff; }
          .column2 .about .textbox::after {
            content: "";
            display: block;
            clear: both; } }
      .column2 .about .textbox .text {
        font-size: 18px;
        font-weight: bold;
        width: 50%; }
        @media (max-width: 1024px) and (min-width: 751px) {
          .column2 .about .textbox .text {
            padding: 25px;
            background-color: #fff; } }
        @media screen and (max-width: 750px) {
          .column2 .about .textbox .text {
            width: 100%; } }
      .column2 .about .textbox .main {
        line-height: 1.5;
        font-size: 32px;
        margin-bottom: 40px; }
        @media screen and (max-width: 750px) {
          .column2 .about .textbox .main {
            font-size: 20px;
            margin-bottom: 20px; } }
      .column2 .about .textbox .para {
        line-height: 1.8; }
        @media screen and (max-width: 750px) {
          .column2 .about .textbox .para {
            font-weight: normal; } }
        .column2 .about .textbox .para.margin {
          margin-bottom: 40px; }
          @media screen and (max-width: 750px) {
            .column2 .about .textbox .para.margin {
              margin-bottom: 20px; } }
      .column2 .about .textbox .btn {
        background-color: #0F3782;
        color: #fff;
        text-shadow: none;
        font-size: 24px;
        padding: 20px;
        width: 100%;
        position: relative; }
        .column2 .about .textbox .btn::after {
          position: absolute;
          top: 50%;
          right: 30.5px;
          content: '';
          display: inline-block;
          width: 20px;
          height: 10px;
          background-image: url(../../images/arrow2.svg);
          background-size: contain;
          transform: translateY(-50%); }
        @media screen and (max-width: 750px) {
          .column2 .about .textbox .btn {
            font-size: 12px; }
            .column2 .about .textbox .btn::after {
              right: 10px; } }
        .column2 .about .textbox .btn .btnpara {
          line-height: 1.35;
          padding-right: 40px; }
          @media screen and (max-width: 750px) {
            .column2 .about .textbox .btn .btnpara {
              line-height: 1.5;
              font-size: 14px;
              padding-right: 20px; } }
    .column2 .about:nth-of-type(odd) .aboutimg {
      margin-left: auto; }
    .column2 .about:nth-of-type(odd) .textbox {
      left: 50%; }
      @media screen and (max-width: 750px) {
        .column2 .about:nth-of-type(odd) .textbox {
          padding-left: 20px;
          width: auto; } }
    .column2 .about:nth-of-type(even) .aboutimg {
      margin-right: auto; }
    .column2 .about:nth-of-type(even) .textbox {
      left: 50%; }
      @media screen and (max-width: 750px) {
        .column2 .about:nth-of-type(even) .textbox {
          padding-right: 20px; } }
      .column2 .about:nth-of-type(even) .textbox .text {
        float: right; }
  .column2 .other {
    margin: 0 auto;
    max-width: 1105px; }
    @media screen and (max-width: 750px) {
      .column2 .other {
        margin: 32px 0 0; } }
    .column2 .other .bigbtn {
      background-color: #0F3782;
      color: #fff;
      text-shadow: none;
      padding: 35px;
      width: 100%;
      position: relative; }
      @media screen and (max-width: 750px) {
        .column2 .other .bigbtn {
          font-size: 14px;
          padding: 20px;
          width: calc(100% - 40px);
          margin: 0 20px; }
          .column2 .other .bigbtn p {
            padding-right: 16px; } }
      .column2 .other .bigbtn::after {
        position: absolute;
        top: 50%;
        right: 30.5px;
        content: '';
        display: inline-block;
        width: 16px;
        height: 32px;
        background-image: url(../../images/arrow3.svg);
        background-size: contain;
        transform: translateY(-50%); }
      .column2 .other .bigbtn .bigbtnpara {
        line-height: 1.7;
        font-size: 24px; }
        @media screen and (max-width: 750px) {
          .column2 .other .bigbtn .bigbtnpara {
            font-size: 14px; } }
      @media screen and (max-width: 750px) {
        .column2 .other .bigbtn::after {
          right: 10px;
          width: 8px;
          height: 16px; } }
    .column2 .other .result {
      margin-top: 100px;
      margin-bottom: 64px;
      padding: 64px 40px;
      background-color: #CCE2EF; }
      @media screen and (max-width: 750px) {
        .column2 .other .result {
          margin-top: 50px;
          margin-bottom: 50px;
          padding: 50px 20px; } }
      .column2 .other .result .title {
        line-height: 1.75;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 60px; }
        @media screen and (max-width: 750px) {
          .column2 .other .result .title {
            line-height: 1.5;
            font-size: 20px;
            margin-bottom: 30px; } }
        .column2 .other .result .title .bigfont {
          font-size: 40px; }
          @media screen and (max-width: 750px) {
            .column2 .other .result .title .bigfont {
              font-size: 24px;
              margin-top: 10px;
              display: block; } }
      .column2 .other .result .container {
        padding: 64px 94px;
        background-color: #fff;
        margin-bottom: 40px; }
        @media screen and (max-width: 750px) {
          .column2 .other .result .container {
            padding: 32px 20px;
            margin-bottom: 20px; } }
        .column2 .other .result .container:last-of-type {
          margin-bottom: 0; }
        .column2 .other .result .container .title {
          font-weight: bold;
          text-align: center;
          font-size: 24px;
          margin-bottom: 40px; }
          @media screen and (max-width: 750px) {
            .column2 .other .result .container .title {
              font-size: 20px; } }
        .column2 .other .result .container .block {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between; }
          .column2 .other .result .container .block li {
            width: calc(50% - 20px);
            list-style: none;
            background: lightblue;
            border: 1px solid white;
            box-sizing: border-box; }
            .column2 .other .result .container .block li:nth-of-type(3), .column2 .other .result .container .block li:nth-of-type(4) {
              margin-top: 40px; }
          @media screen and (max-width: 750px) {
            .column2 .other .result .container .block {
              display: block; }
              .column2 .other .result .container .block li {
                width: 100%;
                margin-bottom: 20px; }
                .column2 .other .result .container .block li:nth-of-type(3), .column2 .other .result .container .block li:nth-of-type(4) {
                  margin-top: 20px; } }

.column3 {
  background-color: #CCE2EF;
  padding-bottom: 100px; }
  @media screen and (max-width: 750px) {
    .column3 {
      padding: 0 20px 50px; } }
  .column3 .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .column3 .mainbox {
        padding: 50px 20px 28.5px; } }
    .column3 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .column3 .mainbox .title {
          font-size: 24px;
          margin-bottom: 12px; } }
    .column3 .mainbox .sub {
      font-size: 20px;
      color: #0F3782;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .column3 .mainbox .sub {
          margin-bottom: 23.5px; } }
    .column3 .mainbox .para {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px; }
      @media screen and (max-width: 750px) {
        .column3 .mainbox .para {
          line-height: 1.5;
          margin-bottom: 23.5px; } }
    .column3 .mainbox .caution {
      font-size: 20px; }
  .column3 .specbox {
    margin: 0 auto;
    max-width: 1105px;
    background-color: #fff;
    padding: 38px 152px; }
    @media screen and (max-width: 750px) {
      .column3 .specbox {
        padding: 20px 20px; } }
    .column3 .specbox dl {
      border-bottom: 1px solid #ccc;
      padding: 24px 0; }
      @media screen and (max-width: 750px) {
        .column3 .specbox dl {
          padding: 20px 0; } }
      .column3 .specbox dl dt,
      .column3 .specbox dl dd {
        line-height: 2; }
      .column3 .specbox dl dt {
        padding-left: 18px;
        float: left;
        font-size: 20px;
        font-weight: bold; }
        @media screen and (max-width: 750px) {
          .column3 .specbox dl dt {
            padding-left: 0;
            font-size: 16px; } }
      .column3 .specbox dl dd {
        margin-left: 20%; }
        @media screen and (max-width: 750px) {
          .column3 .specbox dl dd {
            margin-left: 30%; } }
      .column3 .specbox dl .smallfont {
        font-size: 13px; }
  .column3 .listbox {
    margin: 40px auto 0;
    max-width: 1105px;
    background-color: #fff;
    padding: 64px 152px;
    line-height: 2;
    font-size: 20px; }
    @media screen and (max-width: 750px) {
      .column3 .listbox {
        padding: 28px 20px;
        font-size: 16px; } }
    .column3 .listbox ul {
      list-style: disc;
      padding-left: 20px; }
      .column3 .listbox ul li {
        margin-bottom: 22px; }
        .column3 .listbox ul li:last-of-type {
          margin-bottom: 0; }

.column4 {
  background-color: #fff; }
  .column4 .mainbox {
    margin: 0 auto;
    padding: 100px 0 44px;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .column4 .mainbox {
        padding: 50px 20px 23.5px; } }
    .column4 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .column4 .mainbox .title {
          font-size: 24px;
          margin-bottom: 12px; } }
    .column4 .mainbox .sub {
      font-size: 20px;
      color: #0F3782; }
  .column4 .maincontainer {
    background-image: url(../../images/productbg.png);
    background-size: cover; }
    .column4 .maincontainer .container {
      margin: 0 auto;
      max-width: 1105px;
      padding: 30px 0 124px; }
      @media screen and (max-width: 750px) {
        .column4 .maincontainer .container {
          padding: 30px 0 62px; } }
      .column4 .maincontainer .container .textbox {
        display: flex; }
        @media screen and (max-width: 750px) {
          .column4 .maincontainer .container .textbox {
            display: block;
            width: 80%;
            margin: 0 auto; } }
        .column4 .maincontainer .container .textbox .image {
          width: 50%; }
          @media screen and (max-width: 750px) {
            .column4 .maincontainer .container .textbox .image {
              width: 100%; } }
        .column4 .maincontainer .container .textbox .text {
          width: 50%;
          position: relative; }
          @media screen and (max-width: 750px) {
            .column4 .maincontainer .container .textbox .text {
              width: 100%;
              position: static; } }
          .column4 .maincontainer .container .textbox .text .box {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%); }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .box {
                position: static;
                text-align: center;
                transform: none; } }
          .column4 .maincontainer .container .textbox .text .main {
            margin-bottom: 26px;
            font-size: 72px;
            font-weight: bold;
            color: #0F3782; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .main {
                font-size: 5.8vw;
                margin-bottom: 13px; } }
          .column4 .maincontainer .container .textbox .text .option {
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: bold; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .option {
                margin-bottom: 5px; } }
            .column4 .maincontainer .container .textbox .text .option.opensell {
              font-size: 24px;
              margin-top: 16px;
              color: #ff0000;
              text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .option.opensell {
                  font-size: 3.75vw;
                  margin-bottom: 8px;
                  width: 100%; } }
              .column4 .maincontainer .container .textbox .text .option.opensell span {
                font-size: 16px; }
                @media screen and (max-width: 750px) {
                  .column4 .maincontainer .container .textbox .text .option.opensell span {
                    font-size: 2.5vw; } }
          .column4 .maincontainer .container .textbox .text .price {
            margin-bottom: 14px;
            font-size: 40px;
            font-weight: bold; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .price {
                font-size: 6vw;
                margin-bottom: 6px; } }
            .column4 .maincontainer .container .textbox .text .price .unit {
              font-size: 44px; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .price .unit {
                  font-size: 3vw; } }
            .column4 .maincontainer .container .textbox .text .price .tax {
              font-size: 24px; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .price .tax {
                  font-size: 3.4vw; } }
          .column4 .maincontainer .container .textbox .text .further {
            margin-bottom: 20px; }
            .column4 .maincontainer .container .textbox .text .further span {
              display: inline-block;
              font-size: 20px;
              font-weight: bold; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .further span {
                  font-size: 4.4vw; } }
              .column4 .maincontainer .container .textbox .text .further span.num {
                font-size: 40px; }
                @media screen and (max-width: 750px) {
                  .column4 .maincontainer .container .textbox .text .further span.num {
                    font-size: 5.5vw; } }
              .column4 .maincontainer .container .textbox .text .further span.unit {
                font-size: 44px; }
                @media screen and (max-width: 750px) {
                  .column4 .maincontainer .container .textbox .text .further span.unit {
                    font-size: 6vw; } }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .further span.tax {
                  font-size: 3.4vw; } }
            .column4 .maincontainer .container .textbox .text .further .option {
              margin-top: 25px; }
          .column4 .maincontainer .container .textbox .text .discount {
            margin-bottom: 25px;
            font-size: 24px;
            font-weight: bold; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .discount {
                font-size: 3.3vw;
                margin-bottom: 12px; } }
            .column4 .maincontainer .container .textbox .text .discount .num {
              text-decoration: line-through; }
            .column4 .maincontainer .container .textbox .text .discount .unit {
              font-size: 22px; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .discount .unit {
                  font-size: 1.5vw; } }
            .column4 .maincontainer .container .textbox .text .discount .tax {
              font-size: 12px; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .textbox .text .discount .tax {
                  font-size: 0.95vw; } }
          .column4 .maincontainer .container .textbox .text .btn {
            background-color: #000;
            color: #fff;
            font-size: 24px;
            padding: 12px 0;
            text-align: center;
            width: 100%;
            position: relative; }
            .column4 .maincontainer .container .textbox .text .btn::after {
              position: absolute;
              top: 50%;
              right: 30.5px;
              content: '';
              display: inline-block;
              width: 20px;
              height: 10px;
              background-image: url(../../images/arrow1.svg);
              background-size: contain;
              transform: translateY(-50%); }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .textbox .text .btn {
                font-size: 12px; }
                .column4 .maincontainer .container .textbox .text .btn::after {
                  right: 10px; } }
      .column4 .maincontainer .container .storesbtn {
        margin: 0 auto 20px;
        max-width: 1105px;
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 750px) {
          .column4 .maincontainer .container .storesbtn {
            max-width: auto;
            display: block;
            text-align: center;
            padding-bottom: 6.5%; } }
        @media screen and (max-width: 750px) {
          .column4 .maincontainer .container .storesbtn .storepkg:not(:first-of-type) {
            margin-top: 15px; } }
        .column4 .maincontainer .container .storesbtn .storetxt {
          margin-top: 10px;
          text-align: center;
          font-size: 18px;
          color: #ff0000;
          text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
          letter-spacing: 0.1em; }
          @media screen and (max-width: 750px) {
            .column4 .maincontainer .container .storesbtn .storetxt {
              margin-top: 5px; } }
          .column4 .maincontainer .container .storesbtn .storetxt span {
            position: relative; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .storesbtn .storetxt span {
                font-size: 3.75vw; } }
      .column4 .maincontainer .container .caution {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 40px;
        border: 1px solid #DD0000;
        background-color: #fff; }
        .column4 .maincontainer .container .caution.spray {
          padding: 29px 28px;
          border: 4px solid #0F3782; }
        @media screen and (max-width: 750px) {
          .column4 .maincontainer .container .caution {
            margin-top: 30px;
            padding: 0;
            width: calc(100% - 40px); }
            .column4 .maincontainer .container .caution.spray {
              padding: 0;
              border: 4px solid #0F3782; } }
        .column4 .maincontainer .container .caution .cautionbox {
          display: flex;
          align-items: center; }
          @media screen and (max-width: 750px) {
            .column4 .maincontainer .container .caution .cautionbox {
              padding: 10px;
              display: block;
              text-align: center; }
              .column4 .maincontainer .container .caution .cautionbox.spray {
                padding: 20px; } }
          .column4 .maincontainer .container .caution .cautionbox .mark {
            width: 80px;
            height: 80px;
            margin-right: 20px; }
            .column4 .maincontainer .container .caution .cautionbox .mark.spray {
              padding-top: 13px;
              width: 260px;
              height: auto; }
            @media screen and (max-width: 750px) {
              .column4 .maincontainer .container .caution .cautionbox .mark {
                width: 30px;
                height: 30px;
                margin-right: 0;
                margin-bottom: 10px; }
                .column4 .maincontainer .container .caution .cautionbox .mark.spray {
                  padding-top: 0;
                  width: 50%;
                  height: auto; } }
          .column4 .maincontainer .container .caution .cautionbox .para {
            line-height: 2;
            font-weight: bold;
            font-size: 16px; }
            .column4 .maincontainer .container .caution .cautionbox .para.spray {
              line-height: 1.7;
              font-size: 28px;
              color: #0F3782; }
              @media screen and (max-width: 750px) {
                .column4 .maincontainer .container .caution .cautionbox .para.spray {
                  font-size: 16px; } }

.contact {
  background-color: #0F3782;
  padding-bottom: 35px;
  color: #fff; }
  @media screen and (max-width: 750px) {
    .contact {
      padding-bottom: 0; } }
  .contact .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .contact .mainbox {
        padding: 50px 20px; } }
    .contact .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .title {
          font-size: 24px;
          margin-bottom: 12px; } }
    .contact .mainbox .sub {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .sub {
          margin-bottom: 23.5px; } }
    .contact .mainbox .para {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .para {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 23.5px; } }
    .contact .mainbox .mailbtn {
      font-size: 32px;
      font-weight: bold;
      border: 1px solid #fff;
      padding: 30px 75px;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .mailbtn {
          font-size: 25px;
          padding: 10px 25px; } }
    @media screen and (max-width: 750px) {
      .contact .mainbox .notationbox {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .contact .mainbox .notationbox .notationImg {
      width: 21px;
      height: 21px;
      margin-right: 11px; }
    .contact .mainbox .notationbox .notation {
      font-size: 21px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .notationbox .notation {
          font-size: 16px; } }

.news_column1 {
  background-color: #F5F6F7; }
  .news_column1 .mainbox {
    margin: 0 auto;
    padding: 100px 0 0;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .news_column1 .mainbox {
        padding: 50px 20px 0; } }
    .news_column1 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      color: #0F3782;
      margin-bottom: 50px;
      line-height: 1.4; }
      @media screen and (max-width: 750px) {
        .news_column1 .mainbox .title {
          font-size: 24px;
          margin-bottom: 25px; } }
    .news_column1 .mainbox .para {
      line-height: 2; }
      .news_column1 .mainbox .para .strong {
        font-weight: bold; }
  .news_column1 .maincontainer {
    margin: 80px auto 0;
    padding: 0 0 100px;
    max-width: 1105px; }
    @media screen and (max-width: 750px) {
      .news_column1 .maincontainer {
        margin: 32px 20px 0;
        padding-bottom: 50px; } }
    .news_column1 .maincontainer .newslist {
      margin: 0 auto;
      max-width: 1105px; }
      @media screen and (max-width: 750px) {
        .news_column1 .maincontainer .newslist {
          margin: 0; } }
      .news_column1 .maincontainer .newslist li {
        background-color: #fff;
        padding: 38px;
        margin-bottom: 40px; }
        @media screen and (max-width: 750px) {
          .news_column1 .maincontainer .newslist li {
            padding: 20px;
            margin-bottom: 20px; } }
        .news_column1 .maincontainer .newslist li:last-of-type {
          margin-bottom: 0; }
        .news_column1 .maincontainer .newslist li .title {
          margin-bottom: 20px;
          font-size: 24px;
          font-weight: bold; }
          @media screen and (max-width: 750px) {
            .news_column1 .maincontainer .newslist li .title {
              font-size: 20px;
              line-height: 1.2; } }
        .news_column1 .maincontainer .newslist li .image {
          padding: 20px 94.5px 40px; }
          @media screen and (max-width: 750px) {
            .news_column1 .maincontainer .newslist li .image {
              padding: 10px 0 20px; } }
        .news_column1 .maincontainer .newslist li .block {
          padding: 20px 94.5px 40px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between; }
          .news_column1 .maincontainer .newslist li .block li {
            width: calc(50% - 20px);
            list-style: none;
            border: 1px solid white;
            box-sizing: border-box;
            padding: 0; }
            .news_column1 .maincontainer .newslist li .block li:nth-of-type(3), .news_column1 .maincontainer .newslist li .block li:nth-of-type(4) {
              margin-bottom: 0px; }
          @media screen and (max-width: 750px) {
            .news_column1 .maincontainer .newslist li .block {
              padding: 10px 0 20px;
              display: block; }
              .news_column1 .maincontainer .newslist li .block li {
                width: 100%;
                margin-bottom: 20px; }
                .news_column1 .maincontainer .newslist li .block li:nth-of-type(3), .news_column1 .maincontainer .newslist li .block li:nth-of-type(4) {
                  margin-top: 20px; } }
        .news_column1 .maincontainer .newslist li .detail {
          padding: 20px;
          background-color: #E5F0F7; }
          .news_column1 .maincontainer .newslist li .detail .detail_title {
            margin-bottom: 15px;
            font-weight: bold; }
          .news_column1 .maincontainer .newslist li .detail .detail_link {
            color: #0F3782;
            word-break: break-all; }

.news_banner {
  padding: 20px;
  background-color: #0F3782; }
  .news_banner a {
    margin: 0 auto;
    display: block;
    max-width: 1105px; }

.trade_column1 {
  margin: 100px auto 0;
  max-width: 800px; }
  @media screen and (max-width: 750px) {
    .trade_column1 {
      margin: 100px 20px 0;
      width: auto; } }
  .trade_column1 .mainbox {
    text-align: center;
    margin-bottom: 50px; }
    .trade_column1 .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px; }
      @media screen and (max-width: 750px) {
        .trade_column1 .mainbox .title {
          line-height: 1.5;
          font-size: 24px;
          margin-bottom: 25px; } }
    .trade_column1 .mainbox .label {
      text-align: left;
      font-size: 20px;
      padding: 25px 0 15px 0;
      margin-top: 20px;
      font-weight: bold; }
    .trade_column1 .mainbox .desc {
      text-align: left; }
      .trade_column1 .mainbox .desc.line {
        line-height: 1.5; }

.contact {
  background-color: #0F3782;
  padding-bottom: 35px;
  color: #fff; }
  @media screen and (max-width: 750px) {
    .contact {
      padding-bottom: 0; } }
  .contact .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center; }
    @media screen and (max-width: 750px) {
      .contact .mainbox {
        padding: 50px 20px; } }
    .contact .mainbox .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .title {
          font-size: 24px;
          margin-bottom: 12px; } }
    .contact .mainbox .sub {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .sub {
          margin-bottom: 23.5px; } }
    .contact .mainbox .para {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .para {
          font-size: 16px;
          line-height: 1.5;
          margin-bottom: 23.5px; } }
    .contact .mainbox .mailbtn {
      font-size: 32px;
      font-weight: bold;
      border: 1px solid #fff;
      padding: 30px 75px;
      margin-bottom: 24px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .mailbtn {
          font-size: 25px;
          padding: 10px 25px; } }
    @media screen and (max-width: 750px) {
      .contact .mainbox .notationbox {
        display: flex;
        justify-content: center;
        align-items: center; } }
    .contact .mainbox .notationbox .notationImg {
      width: 21px;
      height: 21px;
      margin-right: 11px; }
    .contact .mainbox .notationbox .notation {
      font-size: 21px; }
      @media screen and (max-width: 750px) {
        .contact .mainbox .notationbox .notation {
          font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
