* {
	margin: 0;
  padding: 0;
  line-height: 1;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", "Noto Sans CJK JP", 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  min-width: 1105px;
  width: 100%;
  @include mq (sp) {
    min-width: auto;
  }
  @media all and (-ms-high-contrast: none) {
    // IEの右側余白の除去
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-size: initial;  /* 100% */
  font-weight: initial;  /* normal */
}

textarea:focus, input:focus{
    outline: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
	text-decoration: none;
  display: inline-block;
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #fff;
  }
	&:hover {
		opacity: 0.6;
		cursor: pointer;
  }
}
a:visited {
  color: inherit;
}

ul {
  list-style: none;
}

p {
  font-size: 16px; // default
}


// section none banner
.section-none-banner{
  border-top:1px solid #bfbfbf;
}