footer {
  background-color: #fff;
  text-align: center;
  .mainbox {
    margin: 40px 0;
    .company {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }
    .address {
      margin-bottom: 6px;
    }
  }
  .copyright {
    width: 100%;
    border-top: 1px solid #CCCCCC;
    font-size: 13px;
    padding: 20px 0;
  }
}