header {
  margin-top: 36px;
  @include mq(sp) {
    margin-top: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #fff;
  }
  .logo {
    margin: 0 auto;
    @include mq(sp) {
      margin: 0;
      display: flex;
      justify-content: space-between;
      background-color: white;
    }
    .logoimg {
      display: block;
      margin: 0 auto;
      width: 244px;
      height: 66px;
      @include mq(sp) {
        margin: 16px;
        width: 122px;
        height: 34px;
      }
    }
    .toggleBtn {
      display: none;
      @include mq(sp) {
        display: block;
        width: 66px;
        height: 66px;
        border: none;
        outline: none;
        background-color: transparent;
        background-image: url(../../images/bars-solid.svg);
        background-size: contain;
        &.active {
          background-image: url(../../images/bars-solid_cross.svg);
        }
      }
    }
  }
  .menu {
    margin-top: 30px;
    width: 100%;
    background-color: #0F3782;
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 0;
      z-index: 9999;
    }
    @include mq(sp) {
      margin-top: 0;
      padding: 70px 0;
      display: none;
      &.active {
        display: block;
      }
    }
    ul {
      max-width: 1105px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      @include mq(sp) {
        flex-direction: column;
        width: 100%;
      }
      li {
        color: #fff;
        margin-right: 52px;
        &:last-of-type {
          margin-right: 0;
        }
        @include mq(sp) {
          width:100%;
          margin-right: 0;
        }
        a {
          font-size: 24px;
          // font-size: 1.7vw;
          padding: 28px;
          white-space: nowrap;
          &[href="#buy"],
          &[href="/#buy"] {
            background-color: #bf0000;
            padding-left: 45px;
            padding-right: 45px;
          }
          @include mq(sp) {
            font-size: 24px;
            width: 100%;
            text-align: center;
          }
          img {
            width: 35px;
            @include mq(sp) {
              width: 50px;
            }
          }
        }
      }
    }
    .sns {
      display: flex;
      @include mq(sp) {
        width: auto;
      }
      a {
        padding: 0;
        margin-right: 26px;
        &:last-of-type {
          margin-right: 0;
        }
        @include mq(sp) {
          margin: auto;
          padding: 28px;
        }
      }
    }
  }
}