.news_column1 {
  background-color: #F5F6F7;
  .mainbox {
    margin: 0 auto;
    padding: 100px 0 0;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px 0;
    }
    .title {
      font-size: 40px;
      // font-size: 3.5vw;
      font-weight: bold;
      color: #0F3782;
      margin-bottom: 50px;
      line-height: 1.4;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 25px;
      }
    }
    .para {
      line-height: 2;
      .strong {
        font-weight: bold;
      }
    }
  }

  .maincontainer {
    margin: 80px auto 0;
    padding: 0 0 100px;
    max-width: 1105px;
    @include mq(sp) {
      margin: 32px 20px 0;
      padding-bottom: 50px;
    }

    .newslist {
      margin: 0 auto;
      max-width: 1105px;
      @include mq(sp) {
        margin: 0;
      }
      li {
        background-color: #fff;
        padding: 38px;
        margin-bottom: 40px;
        @include mq(sp) {
          padding: 20px;
          margin-bottom: 20px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        .title {
          margin-bottom: 20px;
          font-size: 24px;
          // font-size: 1.7vw;
          font-weight: bold;
          @include mq(sp) {
            font-size: 20px;
            line-height: 1.2;
          }
        }
        .image {
          padding: 20px 94.5px 40px;
          @include mq(sp) {
            padding: 10px 0 20px;
          }
        }
        .block {
          padding: 20px 94.5px 40px;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between;
          li {
            width: calc(50% - 20px);
            list-style: none;
            border: 1px solid white;
            box-sizing: border-box;
            padding: 0;
            &:nth-of-type(3),
            &:nth-of-type(4) {
              margin-bottom: 0px;
            }
          }
          @include mq(sp) {
            padding: 10px 0 20px;
            display: block;
            li {
              width: 100%;
              margin-bottom: 20px;
              &:nth-of-type(3),
              &:nth-of-type(4) {
                margin-top: 20px;
              }
            }
          }
        }
        .detail {
          padding: 20px;
          background-color: #E5F0F7;
          .detail_title {
            margin-bottom: 15px;
            font-weight: bold;
          }
          .detail_link {
            color: #0F3782;
            word-break: break-all;
          }
        }
      } 
    }
  }
}

.news_banner {
  padding: 20px;
  background-color: #0F3782;
  a {
    margin: 0 auto;
    display: block;
    max-width: 1105px;
  }
}