.heading {
  position: relative;
  @include mq(sp) {
    margin-top: 66px;
  }
  .bgimg {
    min-height: 618px;
    @include mq(sp) {
      min-height: auto;
    }
  }
  .whole {
    padding: 30px 0;
    width: 100%;
    background-image: url(../../images/headingbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include mq(sp) {
      padding: 0;
    }
  }
  .container {
    margin: 0 auto;
    max-width: 1105px;
    display: flex;
    @include mq(sp) {
      position: relative;
      transform: none;
      min-width: auto;
      display: block;
      overflow: hidden;
    }
    .textbox {
      width: 50%;
      display: flex;
      align-items: center;
      @include mq(sp) {
        width: auto;
        padding: 6.5% 20px 0;
        height: 100%;
      }
      .sub {
        line-height: 1.3;
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: bold;
        @include mq(sp) {
          font-size: 5.4vw;
          margin-bottom: 12px;
        }
      }
      .main {
        margin-bottom: 26px;
        font-size: 72px;
        font-weight: bold;
        color: #0F3782;
        @include mq(sp) {
          font-size: 9.8vw;
        }
      }
      .option {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
        @include mq(sp) {
          margin-top: 6%;
          margin-bottom: 8px;
          width: 75%;
          font-size: 3.6vw;
        }
        &.opensell {
          font-size: 24px;
          margin-bottom: 16px;
          color: #ff0000;
          text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
          @include mq(sp) {
            font-size: 3.75vw;
            margin-bottom: 8px;
            width: 100%;
          }
          span {
            font-size: 16px;
            @include mq(sp) {
              font-size: 2.5vw;
            }
          }
        }
      }
      .price {
        margin-bottom: 14px;
        font-size: 40px;
        font-weight: bold;
        @include mq(sp) {
          margin-bottom: 7px;
          width: 75%;
          font-size: 5.5vw;
        }
        .unit {
          font-size: 44px;
          @include mq(sp) {
            font-size: 6vw;
          }
        }
        .tax {
          font-size: 24px;
          @include mq(sp) {
            font-size: 3.4vw;
          }
        }
      }
      .discount {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: bold;
        @include mq(sp) {
          margin-bottom: 12.5px;
          width: 75%;
          font-size: 3.3vw;
        }
        .num {
          text-decoration: line-through;
        }
        .unit {
          font-size: 22px;
          @include mq(sp) {
            font-size: 3vw;
          }
        }
        .tax {
          font-size: 12px;
          @include mq(sp) {
            font-size: 1.7vw;
          }
        }
      }
      .further {
        margin-bottom: 20px;
        span {
          display: inline-block;
          font-size: 20px;
          font-weight: bold;
          @include mq(sp) {
            font-size: 4.4vw;
          }
          &.num {
            font-size: 40px;
            @include mq(sp) {
              font-size: 5.5vw;
            }
          }
          &.unit {
            font-size: 44px;
            @include mq(sp) {
              font-size: 6vw;
            }
          }
          &.tax {
            @include mq(sp) {
              font-size: 3.4vw;
            }
          }
        }
        .option {
          margin-top: 25px;
        }
      }
      .btn {
        background-color: #000;
        color: #fff;
        font-size: 24px;
        padding: 12px 0;
        text-align: center;
        width: 100%;
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          right: 30.5px;
          content: '';
          display: inline-block;
          width: 20px;
          height: 10px;
          background-image: url(../../images/arrow1.svg);
          background-size: contain;
          transform: translateY(-50%);
        }
        @include mq(sp) {
          margin-top: 3%;
          width: 75%;
          font-size: 4.4vw;
          &::after {
            right: 10px;
            width: 40px;
            height: 20px;
          }
        }
      }
    }
    .image {
      width: 50%;
      @include mq(sp) {
        position: absolute;
        top: 28%;
        right: -19px;
      }
    }
  }
  .storesbtn {
    margin: 0 auto;
    max-width: 1105px;
    display: flex;
    justify-content: space-between;
    @include mq(sp) {
      max-width: auto;
      display: block;
      text-align: center;
      padding-bottom: 6.5%;
    }
    .storepkg:not(:first-of-type) {
      @include mq(sp) {
        margin-top: 15px;
      }
    }
    .storetxt {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      color: #ff0000;
      text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
      letter-spacing: 0.1em;
      @include mq(sp) {
        margin-top: 5px;
      }
      span {
        position: relative;
        @include mq(sp) {
          font-size: 3.75vw;
        }
      }
    }
  }
}

.column1 {
  margin: 100px auto 0;
  max-width: 1105px;
  @include mq(sp) {
    margin: 50px 20px 0;
    width: auto;
  }
  .mainbox {
    text-align: center;
    margin-bottom: 50px;
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 50px;
      @include mq(sp) {
        line-height: 1.5;
        font-size: 24px;
        margin-bottom: 25px;
      }
    }
    .para {
      line-height: 2;
      .strong {
        font-weight: bold;
      }
    }
  }
  .cautionContainer {
    display: flex;
    justify-content: center;
    padding: 40px;
    border: 1px solid #DD0000;
    @include mq(sp) {
      padding: 0px;
    }
    .cautionbox {
      display: flex;
      align-items: center;
      @include mq(sp) {
        padding: 20px;
        display: block;
        text-align: center;
      }
      .mark {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        @include mq(sp) {
          width: 30px;
          height: 30px;
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
      .para {
        line-height: 2;
        font-weight: bold;
        font-size: 16px;
        @include mq(sp) {
          font-size: 16px;
          text-align: initial;
        }
      }
    }
  }
}

.column2 {
  margin: 100px auto 0;
  background-color: #F5F6F7;
  padding-bottom: 100px;
  @include mq(sp) {
    margin: 50px 0 0;
    padding-bottom: 50px;
  }
  .mainbox {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    .sub {
      font-size: 20px;
      color: #0F3782;
      margin-bottom: 40px;
      @include mq(sp) {
        margin-bottom: 23.5px;
      }
    }
    .para {
      line-height: 2;
      .strong {
        font-weight: bold;
      }
    }
  }

  .about {
    position: relative;
    margin-bottom: 64px;
    @include mq(sp) {
      margin-bottom: 32px;
    }
    .aboutimg {
      display: block;
      width: 780px;
      height: 480px;
      @include mq(sp) {
        width: 100%;
        height: auto;
      }
    }
    .textbox {
      min-width: 1105px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      @include mq(sp) {
        min-width: auto;
        padding: 20px 20px;
        position: static;
        transform: none;
        text-shadow: 1px 1px 2px #fff;
        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
      .text {
        font-size: 18px;
        font-weight: bold;
        width: 50%;
        @include mq(pcsp) {
          padding: 25px;
          background-color: #fff;
        }
        @include mq(sp) {
          width: 100%;
        }
      }
      .main {
        line-height: 1.5;
        font-size: 32px;
        margin-bottom: 40px;
        @include mq(sp) {
          font-size: 20px;
          margin-bottom: 20px;
        }
      }
      .para {
        line-height: 1.8;
        @include mq(sp) {
          font-weight: normal;
        }
        &.margin {
          margin-bottom: 40px;
          @include mq(sp) {
            margin-bottom: 20px;
          }
        }
      }
      .btn {
        background-color: #0F3782;
        color: #fff;
        text-shadow: none;
        font-size: 24px;
        padding: 20px;
        width: 100%;
        position: relative;
        &::after {
          position: absolute;
          top: 50%;
          right: 30.5px;
          content: '';
          display: inline-block;
          width: 20px;
          height: 10px;
          background-image: url(../../images/arrow2.svg);
          background-size: contain;
          transform: translateY(-50%);
        }
        @include mq(sp) {
          font-size: 12px;
          &::after {
            right: 10px;
          }
        }
        .btnpara {
          line-height: 1.35;
          padding-right: 40px;
          @include mq(sp) {
            line-height: 1.5;
            font-size: 14px;
            padding-right: 20px;
          }
        }
      }
    }
    &:nth-of-type(odd) {
      .aboutimg {
        margin-left: auto;
      }
      .textbox {
        left: 50%;
        @include mq(sp) {
          padding-left: 20px;
          width: auto;
        }
      }
    }
    &:nth-of-type(even) {
      .aboutimg {
        margin-right: auto;
      }
      .textbox {
        left: 50%;
        @include mq(sp) {
          padding-right: 20px;
        }
        .text {
          float: right;
        }
      }
    }
  }

  .other {
    margin: 0 auto;
    max-width: 1105px;
    @include mq(sp) {
      margin: 32px 0 0;
    }
    .bigbtn {
      background-color: #0F3782;
      color: #fff;
      text-shadow: none;
      padding: 35px;
      width: 100%;
      position: relative;
      @include mq(sp) {
        font-size: 14px;
        padding: 20px;
        width: calc(100% - 40px);
        margin: 0 20px;
        p {
          padding-right: 16px;
        }
      }
      &::after {
        position: absolute;
        top: 50%;
        right: 30.5px;
        content: '';
        display: inline-block;
        width: 16px;
        height: 32px;
        background-image: url(../../images/arrow3.svg);
        background-size: contain;
        transform: translateY(-50%);
      }
      .bigbtnpara {
        line-height: 1.7;
        font-size: 24px;
        @include mq(sp) {
          font-size: 14px;
        }
      }
      @include mq(sp) {
        &::after {
          right: 10px;
          width: 8px;
          height: 16px;
        }
      }
    }
    .result {
      margin-top: 100px;
      margin-bottom: 64px;
      padding: 64px 40px;
      background-color: #CCE2EF;
      @include mq(sp) {
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 50px 20px;
      }
      .title {
        line-height: 1.75;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 60px;
        @include mq(sp) {
          line-height: 1.5;
          font-size: 20px;
          margin-bottom: 30px;
        }
        .bigfont {
          font-size: 40px;
          @include mq(sp) {
            font-size: 24px;
            margin-top: 10px;
            display: block;
          }
        }
      }
      .container {
        padding: 64px 94px;
        background-color: #fff;
        margin-bottom: 40px;
        @include mq(sp) {
          padding: 32px 20px;
          margin-bottom: 20px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
        .title {
          font-weight: bold;
          text-align: center;
          font-size: 24px;
          margin-bottom: 40px;
          @include mq(sp) {
            font-size: 20px;
          }
        }
        .block {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          justify-content: space-between;
          li {
            width: calc(50% - 20px);
            list-style: none;
            background: lightblue;
            border: 1px solid white;
            box-sizing: border-box;
            &:nth-of-type(3),
            &:nth-of-type(4) {
              margin-top: 40px;
            }
          }
          @include mq(sp) {
            display: block;
            li {
              width: 100%;
              margin-bottom: 20px;
              &:nth-of-type(3),
              &:nth-of-type(4) {
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}

.column3 {
  background-color: #CCE2EF;
  padding-bottom: 100px;
  @include mq(sp) {
    padding: 0 20px 50px;
  }
  .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px 28.5px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    .sub {
      font-size: 20px;
      color: #0F3782;
      margin-bottom: 40px;
      @include mq(sp) {
        margin-bottom: 23.5px;
      }
    }
    .para {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      @include mq(sp) {
        line-height: 1.5;
        margin-bottom: 23.5px;
      }
    }
    .caution {
      font-size: 20px;
    }
  }
  .specbox {
    margin: 0 auto;
    max-width: 1105px;
    background-color: #fff;
    padding: 38px 152px;
    @include mq(sp) {
      padding: 20px 20px;
    }
    dl {
      border-bottom: 1px solid #ccc;
      padding: 24px 0;
      @include mq(sp) {
        padding: 20px 0;
      }
      dt,
      dd {
        line-height: 2;
      }
      dt {
        padding-left: 18px;
        float: left;
        font-size: 20px;
        font-weight: bold;
        @include mq(sp) {
          padding-left: 0;
          font-size: 16px;
        }
      }
      dd {
        margin-left: 20%;
        @include mq(sp) {
          margin-left: 30%;
        }
      }
      .smallfont {
        font-size: 13px;
      }
    }
  }
  .listbox {
    margin: 40px auto 0;
    max-width: 1105px;
    background-color: #fff;
    padding: 64px 152px;
    line-height: 2;
    font-size: 20px;
    @include mq(sp) {
      padding: 28px 20px;
      font-size: 16px;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
      li {
        margin-bottom: 22px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

.column4 {
  background-color: #fff;
  .mainbox {
    margin: 0 auto;
    padding: 100px 0 44px;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px 23.5px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    .sub {
      font-size: 20px;
      color: #0F3782;
    }
  }
  .maincontainer {
    background-image: url(../../images/productbg.png);
    background-size: cover;
    .container {
      margin: 0 auto;
      max-width: 1105px;
      padding: 30px 0 124px;
      @include mq(sp) {
        padding: 30px 0 62px;
      }
      .textbox {
        display: flex;
        @include mq(sp) {
          display: block;
          width: 80%;
          margin: 0 auto;
        }
        .image {
          width: 50%;
          @include mq(sp) {
            width: 100%;
          }
        }
        .text {
          width: 50%;
          position: relative;
          @include mq(sp) {
            width: 100%;
            position: static;
          }
          .box {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            @include mq(sp) {
              position: static;
              text-align: center;
              transform: none;
            }
          }
          .main {
            margin-bottom: 26px;
            font-size: 72px;
            font-weight: bold;
            color: #0F3782;
            @include mq(sp) {
              font-size: 5.8vw;
              margin-bottom: 13px;
            }
          }
          .option {
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: bold;
            @include mq(sp) {
              margin-bottom: 5px;
            }
            &.opensell {
              font-size: 24px;
              margin-top: 16px;
              color: #ff0000;
              text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
              @include mq(sp) {
                font-size: 3.75vw;
                margin-bottom: 8px;
                width: 100%;
              }
              span {
                font-size: 16px;
                @include mq(sp) {
                  font-size: 2.5vw;
                }
              }
            }
          }
          .price {
            margin-bottom: 14px;
            font-size: 40px;
            font-weight: bold;
            @include mq(sp) {
              font-size: 6vw;
              margin-bottom: 6px;
            }
            .unit {
              font-size: 44px;
              @include mq(sp) {
                font-size: 3vw;
              }
            }
            .tax {
              font-size: 24px;
              @include mq(sp) {
                font-size: 3.4vw;
              }
            }
          }
          .further {
            margin-bottom: 20px;
            span {
              display: inline-block;
              font-size: 20px;
              font-weight: bold;
              @include mq(sp) {
                font-size: 4.4vw;
              }
              &.num {
                font-size: 40px;
                @include mq(sp) {
                  font-size: 5.5vw;
                }
              }
              &.unit {
                font-size: 44px;
                @include mq(sp) {
                  font-size: 6vw;
                }
              }
              &.tax {
                @include mq(sp) {
                  font-size: 3.4vw;
                }
              }
            }
            .option {
              margin-top: 25px;
            }
          }
          .discount {
            margin-bottom: 25px;
            font-size: 24px;
            font-weight: bold;
            @include mq(sp) {
              font-size: 3.3vw;
              margin-bottom: 12px;
            }
            .num {
              text-decoration: line-through;
            }
            .unit {
              font-size: 22px;
              @include mq(sp) {
                font-size: 1.5vw;
              }
            }
            .tax {
              font-size: 12px;
              @include mq(sp) {
                font-size: 0.95vw;
              }
            }
          }
          .btn {
            background-color: #000;
            color: #fff;
            font-size: 24px;
            padding: 12px 0;
            text-align: center;
            width: 100%;
            position: relative;
            &::after {
              position: absolute;
              top: 50%;
              right: 30.5px;
              content: '';
              display: inline-block;
              width: 20px;
              height: 10px;
              background-image: url(../../images/arrow1.svg);
              background-size: contain;
              transform: translateY(-50%);
            }
            @include mq(sp) {
              font-size: 12px;
              &::after {
                right: 10px;
              }
            }
          }
        }
      }
      .storesbtn {
        margin: 0 auto 20px;
        max-width: 1105px;
        display: flex;
        justify-content: space-between;
        @include mq(sp) {
          max-width: auto;
          display: block;
          text-align: center;
          padding-bottom: 6.5%;
        }
        .storepkg:not(:first-of-type) {
          @include mq(sp) {
            margin-top: 15px;
          }
        }
        .storetxt {
          margin-top: 10px;
          text-align: center;
          font-size: 18px;
          color: #ff0000;
          text-shadow: 1px 1px 0px #ffff00, 1px -1px 0px #ffff00, -1px 1px 0px #ffff00, -1px -1px 0px #ffff00;
          letter-spacing: 0.1em;
          @include mq(sp) {
            margin-top: 5px;
          }
          span {
            position: relative;
            @include mq(sp) {
              font-size: 3.75vw;
            }
          }
        }
      }
      .caution {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 40px;
        border: 1px solid #DD0000;
        background-color: #fff;
        &.spray {
          padding: 29px 28px;
          border: 4px solid #0F3782;
        }
        @include mq(sp) {
          margin-top: 30px;
          padding: 0;
          width: calc(100% - 40px);
          &.spray {
            padding: 0;
            border: 4px solid #0F3782;
          }
        }
        .cautionbox {
          display: flex;
          align-items: center;
          @include mq(sp) {
            padding: 10px;
            display: block;
            text-align: center;
            &.spray {
              padding: 20px;
            }
          }
          .mark {
            width: 80px;
            height: 80px;
            margin-right: 20px;
            &.spray {
              padding-top: 13px;
              width: 260px;
              height: auto;
            }
            @include mq(sp) {
              width: 30px;
              height: 30px;
              margin-right: 0;
              margin-bottom: 10px;
              &.spray {
                padding-top: 0;
                width: 50%;
                height: auto;
              }
            }
          }
          .para {
            line-height: 2;
            font-weight: bold;
            font-size: 16px;
            &.spray {
              line-height: 1.7;
              font-size: 28px;
              color: #0F3782;
              @include mq(sp) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}


.contact {
  background-color: #0F3782;
  padding-bottom: 35px;
  color: #fff;
  @include mq(sp) {
    padding-bottom: 0;
  }
  .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px;
    }
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    .sub {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
      @include mq(sp) {
        margin-bottom: 23.5px;
      }
    }
    .para {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
      @include mq(sp) {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 23.5px;
      }
    }
    .mailbtn {
      font-size: 32px;
      font-weight: bold;
      border: 1px solid #fff;
      padding: 30px 75px;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 25px;
        padding: 10px 25px;
      }
    }
    .notationbox {
      @include mq(sp) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .notationImg {
        width: 21px;
        height: 21px;
        margin-right: 11px;
      }
      .notation {
        font-size: 21px;
        @include mq(sp) {
          font-size: 16px;
        }
      }
    }
  }
}