.trade_column1 {
  margin: 100px auto 0;
  max-width: 800px;
  @include mq(sp) {
    margin: 100px 20px 0;
    width: auto;
  }
  .mainbox {
    text-align: center;
    margin-bottom: 50px;
    .title {
      font-size: 40px;
      // font-size: 3.5vw;
      font-weight: bold;
      margin-bottom: 50px;
      @include mq(sp) {
        line-height: 1.5;
        font-size: 24px;
        margin-bottom: 25px;
      }
    }
    .label {
      text-align: left;
      font-size: 20px;
      padding: 25px 0 15px 0;
      margin-top: 20px;
      font-weight: bold;
    }
    .desc {
      text-align: left;
      &.line {
        line-height: 1.5;
      }
    }
  }
}

.contact {
  background-color: #0F3782;
  padding-bottom: 35px;
  color: #fff;
  @include mq(sp) {
    padding-bottom: 0;
  }
  .mainbox {
    margin: 0 auto;
    padding: 100px 0 65px;
    max-width: 1105px;
    text-align: center;
    @include mq(sp) {
      padding: 50px 20px;
    }
    .title {
      font-size: 40px;
      // font-size: 3.5vw;
      font-weight: bold;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 24px;
        margin-bottom: 12px;
      }
    }
    .sub {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 40px;
      @include mq(sp) {
        margin-bottom: 23.5px;
      }
    }
    .para {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 40px;
      @include mq(sp) {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 23.5px;
      }
    }
    .mailbtn {
      font-size: 32px;
      font-weight: bold;
      border: 1px solid #fff;
      padding: 30px 75px;
      margin-bottom: 24px;
      @include mq(sp) {
        font-size: 25px;
        padding: 10px 25px;
      }
    }
    .notationbox {
      @include mq(sp) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .notationImg {
        width: 21px;
        height: 21px;
        margin-right: 11px;
      }
      .notation {
        font-size: 21px;
        @include mq(sp) {
          font-size: 16px;
        }
      }
    }
  }
}