$breakpoints: (
  'sp': 'screen and (max-width: 750px)',
  'pcsp': '(max-width: 1024px) and (min-width: 751px)',
  'pc': 'screen and (min-width: 1025px)',
) !default;

// Mixins
@mixin mq ($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.pc-only {
	@include mq(sp) {
		display: none !important;
	}
}
.sp-only {
  display: none;
	@include mq(sp) {
		display: block !important;
	}
}